<% layout('/layout/page.ejs') %>
  <% if(user.length> 0) {%>
    <h1>Хай <%= user[0].username %>
    </h1>
    <% } else { %>
      <h1>Зарегистрируйтесь, чтобы видеть все страницы сайта</h1>
      <% } %>

        <h1>
          <%= title %>
        </h1>
        <p>Добро пожаловать в автосалон </p>
        <p>Счетчик: <%= counter %>
        </p>