<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm         bg-danger navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Главная</a>
                </li>
                <% if(typeof nav=='object' && nav){ nav.forEach(function(priora){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/prioras/<%=priora.nick%>">
                            <%=priora.title%>
                        </a>
                    </li>
                    <% })} %>
                        <div class="navbar-nav ms-auto nav navbar-nav navbar-right">
                            <%if(user){%>
                                <form action="/logout" method="post">
                                    <button type="submit" class="btn btn-link">Выйти</button>
                                </form>
                                <% } else { %>
                                    <li><a href="/logreg">Войти</a></li>
                                    <% } %>
            </ul>
            </ul>
        </div>
    </nav>
    <%- body %>
</body>

</html>